*.cmo
*.cmi
*.cmx
*.o
*.swp
lexer.ml
parser.ml
parser.mli
resol
resol.opt
test_tseitin
tests/cnf/downloads/*.cnf
tests/cnf/generator/*.cnf
tests/tseitin/generator/*.tsei
tests/equality/generator/*.equ
_build
